img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
}
footer {
    background-color: #f4f4f4;
    text-align: center;
    padding: 10px;
}
section {
    border-style: groove ;
    border: 2px solid #f4f4f4;
    border-radius: 12px;
    padding: 5px;
    background-color: #f4f4f4;
    padding: 10px;
}